<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主题</title>
    <style>
        form {
            display: inline-block;
        }
    </style>
</head>
<body>
    <div>
        <form action="{{ url_for('topic.add') }}" method="post">
          <input type="hidden" name="node_id" value="{{node.id}}">
          <div class="">
            <input type="text" name="title" placeholder="输入 title">
          </div>
          <div class="">
            <textarea name="content"  placeholder="输入 content"></textarea>
          </div>
          <div class="">
            <button>Post Topic</button>
          </div>
        </form>
    </div>

{% for t in node.topics %}
    <!-- topics是Node与Topic之间的联系, 以下显示的是topic的内容-->
    <div>
        <a href="{{ url_for('topic.show', id=t.id) }}">修改</a>
        <h1>{{ t.title }}</h1>
        <div class="">
           {{ t.content }}
           <!-- 这里使用的是topic model中的content方法 -->
        </div>
    </div>
{% endfor %}

</body>
</html>
